<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Smart Traffic</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
</head>
<body>
    <header>
        <h1>Smart Traffic</h1>
    </header>
    <main>
        <div class="content">
            <p>Choose an option:</p>
            <p><a class="btn" href="/video_feed?use_webcam=true">Use camera</a></p>
            <form action="/upload" method="post" enctype="multipart/form-data">
                <input class="btn" type="file" id="video_file" name="file" />
                <input class="btn" type="submit" value="Upload" />
            </form>
        </div>
    </main>
    <footer>
        <p>&copy; Pyresearch | All rights reserved</p>
    </footer>
</body>
</html>
